mixin pokemonCard(Pokemon)
    div.edit-container
        div.edit
            a(href=`/edit/${Pokemon.id}`) Edit
        div.card(style= `border: 4px solid #ffd500; background-color: ${Pokemon.card_color}`)
            div.header
                div.name=Pokemon.name
                div.hp=Pokemon.hp
                img.type(src=Pokemon.type)
            div.image
                img.card-image(src=Pokemon.image)(style='border: 4px solid #ffd500;')
            div.power-one
                img.cost-one(src=Pokemon.type)
                div.power-one-name=Pokemon.first_power
                div.power-one-damage=Pokemon.first_damage
            div.power-two
                div.cost-two
                    img.cost-two-one(src=Pokemon.type)
                    img.cost-two-two(src=Pokemon.secondary_cost)
                div.power-two-name=Pokemon.second_power
                div.power-two-damage=Pokemon.second_damage
            div.info
                div.weakness
                    p Weakness
                    img.weakness-energy(src=Pokemon.weakness)
                div.resistance
                    p Resistance
                    img.resistance-energy(src=Pokemon.resistance)
                div.retreat-cost
                    p Retreat Cost
                    div.retreat-cost-energy
                        img.retreat-cost-one(src=Pokemon.retreat_cost)
                        img.retreat-cost-two(src=Pokemon.retreat_cost)
